@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #050505;
  color: #fff;
  font-family: "Inter", system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabular-nums {
  font-variant-numeric: tabular-nums;
}
